// Copyright 2023 Jesse Stricker.
// SPDX-License-Identifier: Apache-2.0

// Bootstrap
$color-mode-type: media-query;
$enable-rfs: false;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Custom
@import "./fonts/Asana-Math.css";

math {
  font-family: "Asana Math", math;
  font-size: 1.5rem;
}

// One-off special link helper as a bridge until v6
.link-body-secondary {
  color: var(--#{$prefix}secondary-color)
    if($enable-important-utilities, !important, null);

  @if $link-shade-percentage != 0 {
    &:hover,
    &:focus {
      color: RGBA(var(--#{$prefix}secondary-color-rgb), 1)
        if($enable-important-utilities, !important, null);
    }
  }
}

ul.my-inline-list {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  list-style: none;

  > li:not(:first-child)::before {
    content: "•";
    padding-left: calc(1ch);
    padding-right: calc(1ch);
  }
}
